In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-08-20 16:17:17,-46.1927,168.8643,48.47,99,100,1.88
1,1,Graaff-Reinet,ZA,2022-08-20 16:17:18,-32.2522,24.5308,49.93,50,93,17.60
2,2,Naze,JP,2022-08-20 16:17:18,28.3667,129.4833,81.52,86,100,14.79
3,3,Barrow,US,2022-08-20 16:17:19,71.2906,-156.7887,30.22,93,100,12.66
4,4,Talcahuano,CL,2022-08-20 16:17:19,-36.7167,-73.1167,55.08,76,0,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Naze,JP,2022-08-20 16:17:18,28.3667,129.4833,81.52,86,100,14.79
7,7,Puerto Ayora,EC,2022-08-20 16:17:20,-0.7393,-90.3518,76.96,94,98,7.00
14,14,Rikitea,PF,2022-08-20 16:17:42,-23.1203,-134.9692,73.20,76,47,11.88
16,16,Pechenga,RU,2022-08-20 16:17:43,69.5259,31.1703,72.82,73,99,14.88
17,17,Ribeira Grande,PT,2022-08-20 16:17:43,38.5167,-28.7000,77.40,78,40,5.75
19,19,Nikolskoye,RU,2022-08-20 16:17:44,59.7035,30.7861,79.88,36,0,8.61
21,21,Chinsali,ZM,2022-08-20 16:17:45,-10.5414,32.0816,79.65,26,62,8.90
26,26,Cabo San Lucas,MX,2022-08-20 16:17:07,22.8909,-109.9124,88.61,69,20,9.22
27,27,Cayenne,GF,2022-08-20 16:17:47,4.9333,-52.3333,89.64,58,98,11.50
32,32,Damietta,EG,2022-08-20 16:17:51,31.4165,31.8133,83.95,69,0,16.35

In [12]:
# Check for null values
preferred_cities_df.count()

City_ID       291
City          291
Country       289
Date          291
Lat           291
Lng           291
Max Temp      291
Humidity      291
Cloudiness    291
Wind Speed    291
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2             Naze      JP     81.52  28.3667  129.4833
7     Puerto Ayora      EC     76.96  -0.7393  -90.3518
14         Rikitea      PF     73.20 -23.1203 -134.9692
16        Pechenga      RU     72.82  69.5259   31.1703
17  Ribeira Grande      PT     77.40  38.5167  -28.7000
19      Nikolskoye      RU     79.88  59.7035   30.7861
21        Chinsali      ZM     79.65 -10.5414   32.0816
26  Cabo San Lucas      MX     88.61  22.8909 -109.9124
27         Cayenne      GF     89.64   4.9333  -52.3333
32        Damietta      EG     83.95  31.4165   31.8133

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]  
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Naze,JP,81.52,28.3667,129.4833,Shishime Hotel
7,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Rikitea,PF,73.20,-23.1203,-134.9692,People ThankYou
16,Pechenga,RU,72.82,69.5259,31.1703,
17,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
...,...,...,...,...,...,...
552,Pietarsaari,FI,77.13,63.6500,22.6833,Jakobstad City Hotel Pietarsaari
554,Champerico,GT,88.34,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
555,Bafra,TR,80.82,41.5678,35.9069,Sevgi Otel
556,Piacabucu,BR,78.35,-10.4056,-36.4344,Piaçabuçu News
557,Tapia,PH,72.97,7.7542,126.0119,

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]